# ===============================
# Python
# ===============================
__pycache__/
*.py[cod]
*$py.class
*.pyo
*.pyd

# Virtualenv
.venv/
venv/
env/
ENV/

# ===============================
# Environment variables
# ===============================
.env
.env.*
!.env.example

# ===============================
# Flask
# ===============================
instance/
.webassets-cache

# ===============================
# Alembic / Migrations
# ===============================
migrations/__pycache__/
migrations/*.pyc

# ===============================
# Uploads (important for SaaS)
# ===============================
uploads/
app/static/uploads/

# ===============================
# Logs
# ===============================
*.log
logs/

# ===============================
# Database local files
# ===============================
*.sqlite3
*.db

# ===============================
# IDE / Editor
# ===============================
.vscode/
.idea/

# ===============================
# os Files
# ===============================
.DS_Store
Thumbs.db

# ===============================
# Coverage / Testing
# ===============================
.coverage
htmlcov/
.pytest_cache/

# ===============================
# Build artifacts
# ===============================
dist/
build/
*.egg-info/